@model TCD0302.Web.Models.ParkViewModel

@{
  ViewData["Title"] = "Create";
}

<h1>Create a new Park</h1>

<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Create" method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="State" class="control-label"></label>
        <input asp-for="State" class="form-control" />
        <span asp-validation-for="State" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Established" class="control-label"></label>
        <input type="date" asp-for="Established" class="form-control" />
        <span asp-validation-for="Established" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

